  <div class="logo-container">
    <ul class="zfdw-container">
        <li class="zfdw-home">
            <a href="/">
                <span class="sr-only">Zur Homepage</span>
                <span class="fas fa-home" aria-hidden="true"></span>
            </a>
        </li>
        <li class="first-brand">
            <a href="/">Zentrum für Digitalen Wandel | Center for digital Change</a>
        </li>
    </ul>
  </div>
