<div>
    <p>
    Der Digitale Wandel hat alle Gesellschafts- und Lebensbereiche durchdrungen. Er ist tiefgreifend und unumkehrbar.
    Der Begriff bezeichnet einen sowohl kontinuierlich als auch disruptiv verlaufenden Prozess andauernder Transformation.
    Die Herausforderungen der Digitalisierung bedürfen wissenschaftlicher Antworten.
    Das Zentrum für Digitalen Wandel (ZfDW) / Center for Digital Change (CfDC) der Stiftung Universität Hildesheim stellt sich daher der Aufgabe,
    innovative technische Lösungen und Ansätze gesellschaftlicher und kultureller Gestaltung miteinander zu verbinden.
    </p>
    <p>Das Zentrum wird dafür die bereits bestehenden Forschungs-, Lehr- und Transferinitiativen sowie Kooperationen an der Stiftung Universität
    Hildesheim bündeln, in wirksame Strukturen überführen und die institutionellen Rahmenbedingungen für die drei Aktivitätsfelder Forschung,
    Lehre und Transfer auf dem Gebiet des Digitalen Wandels kontinuierlich weiterentwickeln.
    Die Verzahnung dieser Aktivitätsfelder ist für das Selbstverständnis des Zentrums konstitutiv und
    prägt sein Profil im Umfeld vergleichbarer Institutionen.</p>

    <h3>Aktivitiäten des Vorstands</h3>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sitzung</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Im Juli kam der Vorstand des „Zentrums für Digitalen Wandel / Center for Digital Change“  der Universität
                Hildesheim zur konstituierenden Sitzung zusammen.</p>

            </div>
        </div>
        <span />
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Vorstand</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Dem Vorstand gehören der Wirschaftsinformatiker, Politikwissenschaftler,
                Informationswissenschaftler, Mathematikdidaktiker, die Universitätsbibliothek und Literaturwissenschaftler an.</p>
            </div>
        </div>
    </div>
</div>